.homepage {
    padding-top: 5vw;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;

}

:root {
    --lime: rgb(204, 237, 126);
    --green: #519202;
    --background: #17091F;
    --lightbackground: #333546;
    --prevborder: #202231;
    --bordercolor: #3c3e4e;
}

.job-container {
    /* margin: auto; */
    border: 1px #333546 solid;
    border-radius: 6px;
    /* width: 50vw; */
    flex: 1;
    /* width: 50%; */
    padding: 1.7rem;

}

.job-container:hover {
    border-color: #3c3e4e;
}

.job-each {
    /* border: 1px red solid; */
    padding-bottom: 1rem;
}

/* .indieJobBox{
     border: 1px red solid; 
     padding: 1.7rem; 
} */
.job-main {
    /* border:1px red solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-box {
    /* border: 1px blue solid; */
    /* padding: 3vh; */
    flex: 1 1;
    padding: 1.7em;
    color: var(--lime);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    /* border: 2px #519202 dotted; */
    border: 1px #3c3e4e solid;
    /* border: 1px  solid; */
    border-radius: 5px;
}

.job-box:hover {
    border: 0.7px var(--lime) solid;
    cursor: pointer;
}

.job-info {
    display: flex;
    flex-direction: column;
    /* border: 1px palevioletred solid; */
    padding-left: 0.6em;

}

.job-test {
    border: 1px red solid;
}

.title {
    padding-top: 0.6rem;
}

.title span {
    font-size: 0.9em;
    font-weight: bold;
}

.company {
    padding-top: 0.24rem;
}

.company span {
    font-size: 0.7em;
    color: rgb(233, 230, 230);
}

.job-first {
    width: 100%;
    display: flex;
    /* border: 1px yellow solid; */
    justify-content: flex-start;
}

.job-logo {
    /* border: 1px green solid; */
    flex: 1;
}

.job-logo img {
    /* border: 1px green solid; */
    width: 100%;
    border-radius: 4px;
}


.job-info {
    flex: 9;
}

/* Drag */
.wb-body {
    border: 1px var(--lightbackground) solid;

}

.wb-drag {
    background-color: var(--lime);
}

.wb-title {
    color: black;
    font-family: 'Press Start 2P' !important;

}

.wb-body {
    padding: 1rem;
    color: var(--lime);
    background: var(--background) !important;
}


/* Pagination css */
.mantine-Pagination-item {
    /* color: var(--lime); */
    background-color: #25262b;
    color: white;
    border: none;
    border: 1px var(--lightbackground) solid;
}

/* Active button */
.mantine-1l286fk[data-active] {
    color: var(--lime);
}


/* Winbox content design */
.winboxContent h1 {
    font-size: 1rem;
    color: var(--lime);
    /* color: yellowgreen; */

}

.winboxContent h5 {
    font-weight: normal;
    font-size: 0.7em;
    /* color: yellow; */
    color: #FFFF5C;
}

.winboxContent .job-upper {
    padding: 1rem 0 0.5rem 1rem;
    /* border: 1px blue solid; */
}


.winboxContent .job-lower {
    padding: 0.3rem 1rem;
}

.winboxContent .job-location {
    padding-bottom: 0.5rem;
}


.jobdetail .detailbox {
    /* border: 1px red solid; */
    padding: 1rem;
}


.jobdetail .detailbox h1 {
    /* border: 1px red solid; */
    padding-bottom: 0.9rem;
}



.jobdetail .detailbox p {
    font-size: 0.7em;
    line-height: 1.9em;
    font-weight: bold;
    /* color: yellow; */
    color: #FFFF5C;
}


.jobdetail li::marker {
    font-size: 2em;
    border: 1px red solid;

}

.jobdetail .bullet p {
    padding-left: 1.3rem;
}

/* Apply button */
.winboxContent .applybutton {

    /* padding-left: 1rem; */
    padding-right: 1rem;
    text-align: right;
}

.winboxContent .applybutton button {
    /* padding: 1rem; */
    /* text-align: center; */
    font-family: 'Press Start 2P';
    font-size: 0.6em;
    padding: 0.7rem;
    color: #FFFF5C;
    color: var(--lime);
    background: var(--background);
    border: 1px var(--bordercolor) solid;
    cursor: pointer;
}

.winboxContent .applybutton button:hover {
    opacity: 0.9;
}




.Box {
    border: 1px #333546 solid;
    border-radius: 6px;
    flex: 1 1;
    padding: 1.7rem;

}

.jobb {
    display: flex;
    padding: 3vh;
    color: var(--lime);
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    border: 1px #3c3e4e solid;
    border-radius: 5px;
    
}

.container_1{
    /* border: 1px red solid; */
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
}


.jobb_heading {
    color: var(--lime);
    /* border: 1px red solid; */
    width: 100%;
    font-size: 18px;
}


.buttonn {
    color: var(--lime);
    display: grid;
    row-gap: 2rem;
    padding: 2rem 0rem 0 1rem;
    /* padding-top: 50px; */
    padding-bottom: 40px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 40px;
    /* border: 1px red solid; */
}


.b1 {
    position: relative;
    touch-action: manipulation;
    padding: 1.8rem;
    color: white;
    background-color: var(--lime);
    font-size: 12px;
    color: var(--lime);
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', cursive;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
    
}

.b1 p{
    /* bottom: 120% !important; */
}



.b1:after {
    content: "";
    background-color: var(--background);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    bottom: 7px;
    right: 7px;
    transition: 0.2s;
    border: 1px solid var(--lime);

}

.b1:hover:after {
    bottom: 0px;
    right: 0px;
    border: 1px solid var(--lime);
    text-align: center;
} 