.homepage{
    padding-top: 5vw;
}

:root {
    --lime: rgb(204,237,126);
    --green: #519202;
    --background: #17091F;
    --lightbackground: #333546;
    --prevborder:#202231;
  }

.job-container{
    /* margin: auto; */
    border: 1px #333546 solid;
    border-radius: 6px;
    width: 50vw;
    padding: 3vh;

}
/* .job-container:hover{
    border-color: #3c3e4e;
} */

.job-box{
    /* border: 1px blue solid; */
    padding: 3vh;
    color: var(--lime);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    /* border: 2px #519202 dotted; */
    border: 1px #3c3e4e solid;
    /* border: 1px  solid; */
    border-radius: 3px;

    
}
.job-box:hover{
    border: 0.7px var(--lime) solid;
    cursor: pointer;
}

.job-info{
    display: flex;
    flex-direction: column;
    /* border: 1px palevioletred solid; */
    padding-left: 0.6em;

}
.title{
    padding-top:1vh;
}
.title span{
    font-size: 0.9em;
    font-weight: bold;
}
.company{
    padding-top: 0.4vh;
}
.company span{
    font-size: 0.7em;
    color: rgb(233, 230, 230);
}
.job-first{
    display: flex;
    /* border: 1px yellow solid; */
    justify-content: flex-start;
}

.job-logo{
    /* border: 1px green solid; */
    width: 10%;
}

.job-logo img{
    width: 100%;
    border-radius: 4px;
}



/* Drag */
.wb-body{
    border: 1px var(--lightbackground) solid;

}
.wb-drag{
    background-color: var(--lime);
}

.wb-title{
    color: black;
    font-family: 'Press Start 2P' !important;

}

.wb-body{
    padding: 1rem;
    color: var(--lime);
    background: var(--background) !im ;
}