
:root {
    --lime: rgb(204,237,126);
    --green: #519202;
    --border-grey:#3c3e4e;
    --prevborder:#202231;
    --lightbackground: #333546;
    --yellow: #FFFF5C;
    --background:#17091F;

  }

.hackathonContainer h1{
    color: white;
    text-align: center;
    color: var(--lime);
}

.hackathonContainer{
    /* border: 1px green solid; */
    border: 1px var(--lightbackground) solid;
    flex: 1;
    /* width: 50%; */
}

.hackHeader{
    /* border: 1px red solid; */
    /* padding-top: 2rem; */
}
.hackathoninner{
    /* border: 1px red solid; */
    height: 100%;
    padding: 2rem 0 2rem 0 ;
}


/* Hackathon box */

.hacks{
    /* border:1px var(--lime) solid; */
    padding: 1.5rem;
    color: var(--lime);
    display:flex;
    justify-content: space-between;
}
.hack-detail{
    padding: 0.5rem 0 0 0.8rem;
    /* border: 1px yellow solid; */
    flex: 4;
}

.hack-detail p{
    font-size: 0.7em;
    /* font-weight: bold; */
    color: rgb(233, 230, 230);
    padding-top: 0.6rem;

}

 .statusContainer{
    /* border: 1px red solid; */
    flex: 0.5;
    text-align: right;
    /* align-self:flex-end; */
    
}
.hacks .hack-status{
    font-size: 0.6em;
    font-family: "Press Start 2P";
    background-color: #202231;
    border: 1px #222431 solid;
    color: var(--lime);
    padding:0.4rem;
    /* padding-top: 2rem; */
    border-left: 20%;
    /* padding: 0.5rem; */
    /* background-color: #FFFF5C; */
    font-weight: bold;
    

}

.hack-detail .hack-title{
    font-size: 0.9em;
    font-weight: bold;
}
.hacks .hackImg{
    /* border: 1px red solid; */
    flex: 0.55;
    /* object-fit: cover; */
    /* width: 4.2vw; */
    /* padding: 20rem; */
}
.hacks .hackImg img{
    width: 100%;
    border-radius: 6px;
}

.hack-float{
    display: flex;
    /* border: 1px red solid; */
    flex: 3;
    /* width: ; */
    
}

.hack-apply{
    /* border: 1px red solid; */
    padding-top: 1rem;
    padding-bottom: 0.2rem;

}
.hack-apply button{
    /* width: 100%; */
    font-family: "Press Start 2P";
    font-size: 0.7em;
    padding: 0.5rem;
    /* width: 100%; */
    text-align: center;
    border: none;
    background-color: var(--background);
    border: 1px var(--lime) solid; 
    color: var(--yellow);
    color: var(--lime);
}
.hack-apply button:hover{
    opacity: 0.9;
    cursor: pointer;
}

/* Outer hack */
.hackContainer{
    padding: 2rem 2rem 1.5vh 2rem;
    /* padding-top: 2.5rem; */
}


.hack-outer{
    /* border: 1px var(--yellow) solid; */
}

.hack-inner{
    /* cursor: pointer; */
    position: relative;
    touch-action: manipulation;
    z-index: 1;
    background-color: var(--lime);
  
}
.hack-inner:after{
    content: '';
    border:1px var(--lime) solid;
    background-color: var(--background);

    width: 100%;
    z-index: -1;
    position: absolute;
    bottom: 7px;
    right: 7px;
    transition: 0.4s;
    height: 100%;
}
.hack-inner:hover:after{

    bottom: 0px;
    right: 0px
}


/* Pagination hide */
.paginationContainer{
    padding-top: 1rem;
    /* display: hidden; */
    /* opacity: 0; */
    /* cursor: none; */
    
}


