
.overlay{

    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 40px;
    padding-right: 40px;
}
.overlay input{
    padding-left: 8px;
    border: none;
    background-color: #17091F;
    outline:none;
    border: 1px rgb(118, 118, 118) solid;
    color: #519202;
    font-family: 'Press Start 2P';
    font-size: 9.5px;


}
.overlay input:focus{
    outline: none;
    border : 1px #519202 solid;
}



.inside{
    max-width: 500px;
    height: 120px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.form-title{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}

.inside1{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.position{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}


.inside2{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}
.form-company{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}

.inside8{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}


.email{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}




.inside3{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}
.salarly{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}


.inside9{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.skill{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    color: #519202;
    font-family: 'Press Start 2P';
    font-size: 9.5px;
    padding-left: 4px;
    background-color: #17091F;
    padding-right: 2rem;
}
.skill:focus{
    outline: none;
    border : 1px #519202 solid;
}
.inside4{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.form-location{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}


.inside5{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.type{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    color: #519202;
    font-family: 'Press Start 2P';
    font-size: 9.5px;
    padding-left: 4px;
    background-color:#17091F ;

}
.type:focus{
    outline: none;
    border:1px #519202 solid;
}
.type::placeholder{
    color: #519202 ;
    font-family:'Press Start 2P';
    font-size: 9.5px;
}

.inside6{
    max-width: 500px;
    height: 125px;
    margin: auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.75); */
}

.description{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    padding-left: 8px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #17091F;
    color: #519202;
    font-family: 'Press Start 2P';
    font-size: 9.5px;


}

.description:focus{
   outline: none;
   border:1px #519202 solid;
}
.description::placeholder{
    color: #519202 ;
    font-family:'Press Start 2P';
    font-size: 9.5px;
 }



.submit{
    /* margin: 85px; */
    padding: 15px 15px;
    font-family:'Press Start 2P';
    color: #519202;
    margin-top: 30px;
    background-color: #17091F;
    cursor: pointer;
    outline: none;
    border: 1px rgb(118, 118, 118) solid;
    
 }
 .submit:hover{
    opacity: 0.9;
 }


 .colour{
    color: #519202;
 }

 .overlay input::placeholder{
    color: #519202 ;
    font-family:'Press Start 2P';
    font-size: 9.5px;
 }



 .optionssss{
    color: #519202;
    background-color: #17091F;

 }


    .inside10{
        max-width: 500px;
        height: 125px;
        margin: auto;
        color: white;
        
    } 

    #image_input{
        padding: 17px 88px;
        border-radius: 5px;
    }